<h1>Admin:</h1>
<div class="card">
    <div class="card-body">
        <div class="container">
            <h4>Criar tabela:</h4>
            <a href="admin/Cliente">Cliente</a><br>
            <a href="admin/Engenheiro">Engenheiro</a><br>
            <a href="admin/Obra">Obra</a><br>
        </div>
    </div>
</div>