<form action="/addClietne" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">

    <p>Endereço: </p>
    <input type="text" name="end">

    <p>Telefone: </p>
    <input type="text" name="fone">

    <p>Celular: </p>
    <input type="text" name="celular">

    <p>cpj/cnpj: </p>
    <input type="text" name="doc">
    <input type="radio" id="cpf" name="doctype" value="cpf">
    <label for="cpf">CPF</label>
    <input type="radio" id="cnpj" name="doctype" value="cnpj">
    <label for="cnpj">CNPJ</label>

    <button type="submit">Cadastrar</button>
</form>