<form action="/addObra" method="POST">
    <p>Dono: </p>
	<select id="clienteId" name="clienteId">
        {{#each clientes}}
    	<option value="{{dataValues.id}}">{{dataValues.nome}}</option>
        {{/each}}
	</select>

    <p>Endereço: </p>
    <input type="text" name="end">

    <p>Bairro: </p>
    <input type="text" name="bairro">

    <p>Cidade: </p>
    <input type="text" name="cidade">

    <p>Estado: </p>
    <input type="text" name="estado">

    <p>Metragem: </p>
    <input type="text" name="metragem">

    <p>Quartos: </p>
    <input type="text" name="quartos">

    <p>wc: </p>
    <input type="text" name="wc">
    
    <p>Infraestrutura: </p>
    <input type="checkbox" name="infra" value="true">

    <p>Garagem: </p>
    <input type="checkbox" name="garagem" value="true">

    <p>Andar: </p>
    <input type="text" name="andar">

    <p>Edificio: </p>
    <input type="text" name="edificio">
    
    <p>Situação: </p>
    <input type="text" name="situacao">

    <p>Data inicial da construção: </p>
    <input type="date" name="dataInicio">

    <p>Data final da construção: </p>
    <input type="date" name="dataTermino">

    <p>Observação: </p>
    <textarea name="observacao"></textarea>
    
    <button type="submit">Cadastrar</button>
</form>