<h1>Rotas</h1>

<p>Criar tabelas:</p>
<a href="/cadCliente">Cliente</a><br>
<a href="/cadEng">Engenheiro</a><br>
<a href="/cadObra">Obra</a><br>
<a href="/cadRegistro">Registro</a><br>

<p>Visualizar tabelas:</p>
<a href="/tabelaCliente">Cliente</a><br>
<a href="/tabelaEng">Engenheiro</a><br>
<a href="/tabelaObra">Obra</a><br>
<a href="/tabelaRegistro">Registro</a><br>